.git
.gitignore
.venv
venv
env/
ENV/
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.env
.env.production
.env.template
*.env
*.env.*
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
db_backups/*
!.gitkeep
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
*.egg-info
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.eggs/
dist/
build/
docker-compose*.yml
Dockerfile
ansible/
scripts/deprecated/
docs/
tests/
