# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.pytype/
.python-version
env/
venv/
ENV/
.env
*.env
*.venv
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
import/*
!important/.gitkeep

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Linux
*~

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/

# C extensions
*.so
